.divmae {
    background-color: #E8F1F3; 
    height: 100vh;
}
.navbar {
    padding-top: 0; 
    height: auto; 
    padding-bottom: 0;
}
.barra-navegacao {
    background-color: #006494;
    margin-bottom: auto; 
    position: relative; 
    top: 0px; 
    padding: 0px; 
    height: 100%;
}

.divlista {
    margin-bottom: auto;
    margin-right: 0px;
    margin-left: 0px;
    float:inline-end;
    padding-right: 0;
}


.listamaemenu {
    margin-bottom: auto; 
    margin-right: 0px;
    margin-left: 0px; 
    width:-moz-available; 
    width: -webkit-fill-available; 
    width: stretch;
}

.logoclinica {
    background-color: #13293D; 
}

.divlogo {
    padding: 0;
    margin-left: 2%;
    margin-top: 0.5%;
    width: 5vw;
    height: 3vw;
}


.areadinamica {
    height: 91%
}

.listamenu:first-child {
    margin-top: 0%;
    background-color: #13293D;
    padding: 10px;
}

.listamenu:nth-child(2) {
    margin-top: 20%;
}

.listamenu {
    margin-top: 3%
}

.linksmenu {
    color:#E8F1F3
}

.linksmenu:hover {
    color:#13293D
}

.imagensmenu {
    position: relative;
    top: -4px;
}

.textohome {
    font-size: 3em ;
    text-shadow:3px 3px 5px #44617a;
    text-align: center;
    color: #193045;
    margin-top: 12%;
    margin-bottom: 5%;
}

.imgboxhome {
    -webkit-filter: drop-shadow(0px 0px 95px #44617a); 
    filter: drop-shadow(0px 0px 95px #44617a);
}

.botaocascata {
    background-color: #006494;
    border-color:#006494;
    color: #E8F1F3;
}

.botaocascata:hover {
    color: #193045;
    background-color: #006494;
    border-color:#006494;
}

.botaocascata:ativo {
    background-color: #006494;
    border-color:#006494;
}

.dropdown-menu .dropdown {
   background-color: transparent;
}

.dropdown-toggle{
    border:0px;
}