.titulo {
    display: flex;
    justify-content: end;
    margin-top: 1%;
    margin-right: 5%;
}

.badge {
    margin-top: 1.5%;
    color:#13293D;
    background-color:#5CABCC;
    font-weight: 660;
}

.btpesquisar {
    background-color: #247BA0;
    border: 0px;
    font-weight: 600;
    text-align: center;
    height: 40px;
}

.btpesquisar:hover {
    background-color: #006494;
    border: 0px;
}

input {
    text-align: center;
    margin-right: 1%;
    margin-left: 7%;
    width: 14%;
    height: 35px;
    border-radius: 6px;
    border-color: #000000;
}

.btsolicitar {
    margin-left: 7%;
    width: 100px;
    background-color: #13293D;
    border: 0px;
    font-weight: 660;
    height: 40px;  
}

.btsolicitar:hover {
    background-color: #006494;
}

.box-tabela {
    display: flex;
    justify-content: center;
}

.contorno {
    border: 2px solid;
    border-color: black;
    border-radius:10px;
}

.elementoinicial {
    border: 9px solid;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    border-color: #79adc4;
    background-color: #E8F1F3;
}

.elementofinal {
    border: 9px solid;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-color: #79adc4;
    background-color: #E8F1F3;
}

.elemento {
    border: 9px solid;
    border-left: 0px;
    border-right: 0px;
    border-color: #79adc4;
    background-color: #E8F1F3;
}

.caixa {
    margin: 0px;
}

.inputcaixa {
    font-size:x-large;
    margin:3px;
}

.botaocascata2 {
    background-color: #E8F1F3;
    border-color:#E8F1F3;
    color: #000000;
}

.botaocascata2:hover {
    color: #193045;
    background-color: #E8F1F3;
    border-color:#E8F1F3;
}

.botaocascata2:ativo {
    background-color: #E8F1F3;
    border-color:#E8F1F3;
}

.dropdown-menu .dropdown {
   background-color: transparent;
}

.dropdown-toggle{
    border:0px;
}
 
.nome {
    align-self: center;
    padding: 6px;
}

.itens{
    padding-left: 20px;
}

.form-check-input:checked {
    background-color: #13293D;
    border-color: #13293D;
}

.border-solicitacao{
    border-bottom: solid #006493;
    border-width: 2px;
}
.modal-content{
    width: 60vw;
    transform: translate(-20%,0%);
    border-color: #006493;
    background-color: #E8F1F3;
}
.inserir{
    width: 100%;
    height: 80%;
    background-color: #E8F1F3;
    padding-left: 10px;
    
}
.resumo{
    width: auto;
    overflow:scroll;
    grid-template-columns: 100%;
    row-gap: 20px;
}

.tabela{
    min-height: 17vw;
    margin-bottom: 34px;
}

.modal-body{
    border-color: #006493;
}
.justificativa{
    padding-left: 20px;
}
.border-gustavo{
    border: solid #006493;
    border-width: 1px;
    
}
.form-control{
    border-width: 0;
    background-color: #E8F1F3;
    padding-bottom: 100px;
}
.modal-footer{
    border-top-color: #006493;
    border-width: 2px;
    margin-top: 20px;
    
}
.pedido{
    margin-right: auto;
    padding-left: 10px;
    height: 30px;
    width: 120px;
    border-radius: 1px;
    background-color: white;
}

@media(max-width: 768px){
    .modal-content{
        width: 100vw;
        transform: translate(0%,0%);
        border-color: #006493;
        background-color: #E8F1F3;
    }
}
