.modal-body{
    padding-left: 50px;
}
.div-inserir{
    margin-right: 80px;
    height: 40px;
}
.div-copa{
    border: 1px solid #000000;
    padding-left: 70px;
}

.div-descricao{
    margin: 0;
    height: 100px;
}

.div-quantidade{
    margin: 0;
    height: 30px;
}

.divisoes{
    width: 19vw;
    margin: 0;
}

.divisoes2{
    width: 19vw;
    height: 10vh;
    margin: 0;
}

.divisoes3{
    margin-left: 70px;
    width: 13vw;
    text-align: center;
}
