.modal-body{
    padding-left: 50px;
}
.div-inserir{
    border: 1px solid #000000;
    margin-right: 80px;
    height: 40px;
}
.div-copa{
    border: 1px solid #000000;
    padding-left: 70px;
}

.div-descricao{
    border: 1px solid #000000;
    margin-right: 80px;
    height: 100px;
}

.div-quantidade{
    border: 1px solid #000000;
    padding-left: 120px;
    padding-right: 70px;
    height: 30px;
}