.modal-content{
    width: 60vw;
    height: 80vh;
    transform: translate(-20%,0%);
}

.modal-body{
    border-color: aqua;
}
.justificativa{
    padding-left: 20px;
}
.border-gustavo{
    border: solid aqua;
    border-width: 1px;
    padding-bottom: 100px;
}
.form-control{
    border-width: 0;
}